src/main/wsdl/studinfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:studinfo="http://fsws.usit.no/schemas/studinfo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fsws.usit.no/schemas/studinfo">
  <wsdl:types>
    <!--xsd:include schemaLocation="types.xml"/-->
    <xsd:schema targetNamespace="http://fsws.usit.no/schemas/studinfo">
      <xsd:include schemaLocation="studinfo.xsd"/>
      <xsd:element name="getEmne">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arstall" type="xsd:gYear" />
            <xsd:element name="terminkode" type="studinfo:Terminkode" />
            <xsd:element name="sprak" type="studinfo:Sprakkode" />
            <xsd:element name="institusjonsnr" type="xsd:int" />
            <xsd:element name="emnekode" type="xsd:string" />
            <xsd:element name="versjonskode" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEmneResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="studinfo:Emne"
              minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEmnerForOrgenhet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arstall" type="xsd:gYear" />
            <xsd:element name="terminkode" type="studinfo:Terminkode" />
            <xsd:element name="sprak" type="studinfo:Sprakkode" />
            <xsd:element name="institusjonsnr" type="xsd:int" />
            <xsd:element name="fakultetsnr" type="xsd:int"
              minOccurs="0" />
            <xsd:element name="instituttnr" type="xsd:int"
              minOccurs="0" />
            <xsd:element name="gruppenr" type="xsd:int"
              minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEmnerForOrgenhetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="studinfo:Emne"
              minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStudieprogram">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arstall" type="xsd:gYear" />
            <xsd:element name="terminkode" type="studinfo:Terminkode" />
            <xsd:element name="sprak" type="studinfo:Sprakkode" />
            <xsd:element name="medUPinfo" type="xsd:boolean" />
            <xsd:element name="studieprogramkode" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStudieprogramResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="studinfo:Studieprogram"
              minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStudieprogrammerForOrgenhet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arstall" type="xsd:gYear" />
            <xsd:element name="terminkode" type="studinfo:Terminkode" />
            <xsd:element name="sprak" type="studinfo:Sprakkode" />
            <xsd:element name="institusjonsnr" type="xsd:int" />
            <xsd:element name="fakultetsnr" type="xsd:int"
              minOccurs="0" />
            <xsd:element name="instituttnr" type="xsd:int"
              minOccurs="0" />
            <xsd:element name="gruppenr" type="xsd:int"
              minOccurs="0" />
            <xsd:element name="medUPinfo" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStudieprogrammerForOrgenhetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="studinfo:Studieprogram"
              minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKurs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arstall" type="xsd:gYear" />
            <xsd:element name="terminkode" type="studinfo:Terminkode" />
            <xsd:element name="sprak" type="studinfo:Sprakkode" />
            <xsd:element name="institusjonsnr" type="xsd:int" />
            <xsd:element name="fakultetsnr" type="xsd:int"
              minOccurs="0" />
            <xsd:element name="instituttnr" type="xsd:int"
              minOccurs="0" />
            <xsd:element name="gruppenr" type="xsd:int"
              minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKursResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="studinfo:Kurs"
              minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getEmneRequest">
    <wsdl:part element="studinfo:getEmne" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getEmneResponse">
    <wsdl:part element="studinfo:getEmneResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getEmnerForOrgenhetRequest">
    <wsdl:part name="parameters" element="studinfo:getEmnerForOrgenhet"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmnerForOrgenhetResponse">
    <wsdl:part name="parameters" element="studinfo:getEmnerForOrgenhetResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudieprogramRequest">
    <wsdl:part name="parameters" element="studinfo:getStudieprogram"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudieprogramResponse">
    <wsdl:part name="parameters" element="studinfo:getStudieprogramResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudieprogrammerForOrgenhetRequest">
    <wsdl:part name="parameters" element="studinfo:getStudieprogrammerForOrgenhet"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudieprogrammerForOrgenhetResponse">
    <wsdl:part name="parameters"
      element="studinfo:getStudieprogrammerForOrgenhetResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getKursRequest">
    <wsdl:part name="parameters" element="studinfo:getKurs"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getKursResponse">
    <wsdl:part name="parameters" element="studinfo:getKursResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StudinfoProxy">
    <wsdl:operation name="getEmne">
      <wsdl:input message="studinfo:getEmneRequest" />
      <wsdl:output message="studinfo:getEmneResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEmnerForOrgenhet">
      <wsdl:input message="studinfo:getEmnerForOrgenhetRequest"></wsdl:input>
      <wsdl:output message="studinfo:getEmnerForOrgenhetResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudieprogram">
      <wsdl:input message="studinfo:getStudieprogramRequest"></wsdl:input>
      <wsdl:output message="studinfo:getStudieprogramResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudieprogrammerForOrgenhet">
      <wsdl:input message="studinfo:getStudieprogrammerForOrgenhetRequest"></wsdl:input>
      <wsdl:output message="studinfo:getStudieprogrammerForOrgenhetResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKurs">
      <wsdl:input message="studinfo:getKursRequest"></wsdl:input>
      <wsdl:output message="studinfo:getKursResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudinfoProxySOAP" type="studinfo:StudinfoProxy">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEmne">
      <soap:operation soapAction="http://fsws.usit.no/schemas/studinfo/getEmne" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmnerForOrgenhet">
      <soap:operation soapAction="http://fsws.usit.no/schemas/studinfo/getEmnerForOrgenhet" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudieprogram">
      <soap:operation soapAction="http://fsws.usit.no/schemas/studinfo/getStudieprogram" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudieprogrammerForOrgenhet">
      <soap:operation soapAction="http://fsws.usit.no/schemas/studinfo/getStudieprogrammerForOrgenhet" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKurs">
      <soap:operation soapAction="http://fsws.usit.no/schemas/studinfo/getKurs" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudinfoProxy">
    <wsdl:port binding="studinfo:StudinfoProxySOAP" name="StudinfoProxy">
      <soap:address location="http://localhost:8080/fsws-proxy/studinfo" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
